<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:replace="fragments :: head"></head>
<body>
	<div class="container">

		<h6>Unesen trošak:</h6>
		<p>
			Naziv: <span th:text="${expense.name}"> </span>
		</p>
		<p>
			Iznos: <span th:text="${expense.amount}"> </span>

		</p>

		<p>
			Vrsta: <span th:text="${expense.expenseType}"> </span>

		</p>

		<p>
			Total: <span th:text="${total}"></span>

		</p>

		<button class="btn btn-dark" onclick="goBack()">Nazad</button>
		<a class="btn btn-warning" href="/expense/resetWallet">Reset novčanik</a>
	</div>

	<div th:replace="fragments :: js"></div>
	<script>
		function goBack() {
		  window.history.back();
		}
	</script>
</body>
</html>