<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head th:replace="fragments :: head"></head>
<body>
	<div class="container">
		<div th:replace="fragments :: logout-btn"></div>

		<h4 th:text="#{msg.newExpense}"></h4>
		<form method="POST" th:object="${expense}" th:action="@{/expense/newExpense}">


			<div class="form-group">
				<label for="name" th:text="#{msg.expense.name}"></label>
				 <input type="text"	class="form-control" th:field="*{name}" />
				<span class="text-danger" th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">
					Name error
				</span>
			</div>


			<div class="form-group">
				<label for="amount" th:text="#{msg.expense.amount}"></label>
				<input type="number" class="form-control" th:field="*{amount}" step=".01"  />
				<span class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
					Amount error
				</span>
			</div>

			<div class="form-group">
				<label for="expenseType" th:text="#{msg.expense.expenseType}"></label>
				<select  class="form-control"
					th:field="*{expenseType}">
					<option value="">---Odaberite vrijednost---</option>
					  <option th:each="type : ${types}" th:value="${type}"
						th:text="#{msg.expense.expenseType. + ${type}}"></option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('expenseType')}" th:errors="*{expenseType}">
					Expense type error
				</span>
			</div>

			<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			
			<input type="submit" class="btn btn-primary" th:value="#{msg.send}">
		</form>
	</div>

	<div th:replace="fragments :: js"></div>
</body>
</html>